#clicktest {
	font-weight: bold;
	
	}



.bodi{
	width: 100%;
	height: 1000px;
	
}

.a{color:black; }
.b{color:#ff0080 }
.c{color:#3399ff }
.d{color:#00cc00 }
.e{color:#808000 }
.f{color:#ff1a1a }
.g{color:#a41a1a }
.h{color:#ff6c1a }
.i{color:#a678ca }
.j{color:#c34f1a }
